<a href="https://colab.research.google.com/github/abhinav4201/Data-Analysis-EDA/blob/main/Uptitude_Technical_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font size='8px'><font color='#FF3206'>**Project Name**    - <font color='#3792cb'>Exploratory Data Analysis

##Imports

In [3]:
#essential libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px
from scipy.stats import norm

import warnings
warnings.filterwarnings('ignore')

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [18]:
#importing data 
brand_df = pd.read_csv('/content/drive/MyDrive/Technical Test Uptitude/Brand-Platform-URL.csv')
twitter_df = pd.read_csv('/content/drive/MyDrive/Technical Test Uptitude/Twitter Data.csv')
yt_data_df = pd.read_csv('/content/drive/MyDrive/Technical Test Uptitude/Youtube Channel Data.csv')
yt_view_df = pd.read_csv('/content/drive/MyDrive/Technical Test Uptitude/Youtube Views.csv')

In [19]:
#brand platform dataset
brand_df.sample(5)

,Brand,Market,Platform,URL
407,handfoxy,Azerbaijan,YouTube,youtube.com/channel/UC3lz17w3i8pOWSb6NelxzTs7
10,handfoxy,Chile,Twitter,twitter.com/ebrnce
198,techfond,Poland,YouTube,youtube.com/channel/UCVSWeurgs7YEhMqJ9jvL2VT3
53,dualjape,United Kingdom of Great Britain and Northern I...,Twitter,twitter.com/_thina
372,dualjape,South Africa,YouTube,youtube.com/channel/UCca7vdppZ8sfxHfFTDOBcDr3

In [13]:
#twitter data set
twitter_df.sample(5)

,URL,Verified,Verified Accounts,Year,Quarter,Month,Day,Name / ID,Location,Has Description,Followers,Status Available,Accounts Without a Link
273,twitter.com/sianTR,True,Verified Accounts,2022,Qtr 2,May,9,CLEAR Indonesia,NaN,No Description,53856.0,True,Has Link
443,twitter.com/eceuay,NaN,NaN,2022,Qtr 1,January,31,HTTPSConnectionPool(host='www.www.theaxeeffect...,NaN,No Description,NaN,NaN,No Link
62,twitter.com/ecebia,False,Non Verified Accounts,2021,Qtr 1,March,9,NaN,Greece,Has Description,11.0,True,Has Link
379,twitter.com/nukbia,True,Verified Accounts,2022,Qtr 2,May,9,Dove Men+Care,NaN,Has Description,38171.0,True,No Link
346,twitter.com/korell,False,Non Verified Accounts,2022,Qtr 1,January,31,Dove Korea,NaN,Has Description,7412.0,True,Has Link

In [14]:
#youtube data set
yt_data_df.sample(5)

,URL,Channel Has Title,Has Description,Location,Year,Quarter,Month,Day,Is Verified,Subscriber
251,youtube.com/channel/UCTsKLnLr81d9BZYOKyC6lx24,Has Title,No Description,Thailand,2022,Qtr 2,May,21,False,119000.0
923,youtube.com/channel/UCbnUiMdAl4PuYSg7mC4ztY_5,Has Title,Has Description,NaN,2022,Qtr 2,May,21,False,2.0
590,youtube.com/channel/UCLVto5KyT7O0Pv12widZAD82,Has Title,No Description,NaN,2022,Qtr 2,May,21,False,11500.0
45,youtube.com/channel/UCZx8QzfK-3OQfTR2u_1PeVj1,Has Title,Has Description,Vietnam,2022,Qtr 1,January,28,False,209000.0
978,youtube.com/channel/UC7wUvJd2P253b0PutrygfXy1,Has Title,Has Description,Mexico,2021,Qtr 4,December,30,False,38500.0

In [15]:
#youtube views data set
yt_view_df.sample(5)

,Channel URL,Video URL,Views,Year,Quarter,Month,Day
12430,youtube.com/channel/UCbw1qrsjH7NIuUGHa2omKbK7,youtube.com/watch?v=FwiW_72fw,3496776,2021,Qtr 1,March,10
19475,youtube.com/channel/UCBp8jubIJ7D6u0klLHOb2864,youtube.com/watch?v=CLhMQ5dxY,757,2021,Qtr 1,March,10
4915,youtube.com/channel/UCdDiuuMqN6mxr5afOoJ5TXD5,youtube.com/watch?v=SLSfh57K4,1755,2021,Qtr 1,March,10
232,youtube.com/channel/UC20bsNJWQ3ZYnCXFCsqzgqP3,youtube.com/watch?v=MsalM6_zQ,2832,2021,Qtr 1,March,10
14781,youtube.com/channel/UC7wUvJd2P253b0PutrygfXy1,youtube.com/watch?v=z6jfQ9dqo,476,2021,Qtr 1,March,10

In [20]:
# Dataset Rows(Observation) & Columns count(Feature)
print(f'Total observation {brand_df.shape[0]} and feature for Brand dataset: {brand_df.shape[1]}')
print(f'Total observation {twitter_df.shape[0]} and feature for Brand dataset: {twitter_df.shape[1]}')
print(f'Total observation {yt_data_df.shape[0]} and feature for Brand dataset: {yt_data_df.shape[1]}')
print(f'Total observation {yt_view_df.shape[0]} and feature for Brand dataset: {yt_view_df.shape[1]}')

Total observation 422 and feature for Brand dataset: 4
Total observation 629 and feature for Brand dataset: 13
Total observation 1110 and feature for Brand dataset: 10
Total observation 20315 and feature for Brand dataset: 7

In [21]:
# Dataset Info
print('Brand Info')
print('\n')
brand_df.info()
print('='*120)
print('\n')
print('Twitter Info')
print('\n')
twitter_df.info()
print('='*120)
print('\n')
print('YouTube Info')
print('\n')
yt_data_df.info()
print('='*120)
print('\n')
print('YouTube Views Info')
print('\n')
yt_view_df.info()

Brand Info


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422 entries, 0 to 421
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Brand     422 non-null    object
 1   Market    422 non-null    object
 2   Platform  422 non-null    object
 3   URL       422 non-null    object
dtypes: object(4)
memory usage: 13.3+ KB
========================================================================================================================


Twitter Info


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 629 entries, 0 to 628
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   URL                      629 non-null    object
 1   Verified                 607 non-null    object
 2   Verified Accounts        607 non-null    object
 3   Year                     629 non-null    int64
 4   Quarter                  629 non-null    object
 5   Month                    629 non-null    object
 6   Day                      629 non-null    int64
 7   Name / ID                485 non-null    object
 8   Location                 289 non-null    object
 9   Has Description          629 non-null    object
 10  Followers                607 non-null    float64
 11  Status Available         607 non-null    object
 12  Accounts Without a Link  629 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 64.0+ KB
========================================================================================================================


YouTube Info


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1110 entries, 0 to 1109
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   URL                1110 non-null   object
 1   Channel Has Title  1110 non-null   object
 2   Has Description    1110 non-null   object
 3   Location           441 non-null    object
 4   Year               1110 non-null   int64
 5   Quarter            1110 non-null   object
 6   Month              1110 non-null   object
 7   Day                1110 non-null   int64
 8   Is Verified        781 non-null    object
 9   Subscriber         1103 non-null   float64
dtypes: float64(1), int64(2), object(7)
memory usage: 86.8+ KB
========================================================================================================================


YouTube Views Info


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20315 entries, 0 to 20314
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Channel URL  20315 non-null  object
 1   Video URL    20315 non-null  object
 2   Views        20315 non-null  int64
 3   Year         20315 non-null  int64
 4   Quarter      20315 non-null  object
 5   Month        20315 non-null  object
 6   Day          20315 non-null  int64
dtypes: int64(3), object(4)
memory usage: 1.1+ MB

##Data Wrangling

##EDA

##Conclusions