<a href="https://colab.research.google.com/github/abhinav4201/Data-Analysis-EDA/blob/main/Uptitude_Technical_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font size='8px'><font color='#FF3206'>**Project Name**    - <font color='#3792cb'>Exploratory Data Analysis

##Imports

In [ ]:
#essential libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px
from scipy.stats import norm

import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#importing data 
brand_df = pd.read_csv('/content/drive/MyDrive/Technical Test Uptitude/Brand-Platform-URL.csv')
twitter_df = pd.read_csv('/content/drive/MyDrive/Technical Test Uptitude/Twitter Data.csv')
yt_data_df = pd.read_csv('/content/drive/MyDrive/Technical Test Uptitude/Youtube Channel Data.csv')
yt_view_df = pd.read_csv('/content/drive/MyDrive/Technical Test Uptitude/Youtube Views.csv')

In [ ]:
#brand platform dataset
brand_df.sample(5)

In [ ]:
#twitter data set
twitter_df.sample(5)

In [ ]:
#youtube data set
yt_data_df.sample(5)

In [ ]:
#youtube views data set
yt_view_df.sample(5)

In [ ]:
# Dataset Rows(Observation) & Columns count(Feature)
for val, df in [('Brand', brand_df), ('Twitter',twitter_df), ('YouTube Data',yt_data_df), ('YouTube View',yt_view_df)]:
  print(f'Total observation {df.shape[0]} and feature for {val} dataset: {df.shape[1]}')

In [ ]:
# Dataset Info
for val, df in [('Brand', brand_df), ('Twitter',twitter_df), ('YouTube Data',yt_data_df), ('YouTube View',yt_view_df)]:
  print(val, 'Info')
  print('\n')
  print(df.info())
  print('='*120)
  print('\n')

In [ ]:

# Dataset Duplicate Value Count
for val, df in [('Brand', brand_df), ('Twitter',twitter_df), ('YouTube Data',yt_data_df), ('YouTube View',yt_view_df)]:
  print(f'For {val} Data')
  print('\n')
  print(f"Data is duplicated ? {df.duplicated().value_counts()},unique values with {len(df[df.duplicated()])} duplication")
  print('\n')
  print('='*120)
  print('\n')

In [ ]:
# Missing Values/Null Values Count for brand data
brand_df.isnull().sum()

In [ ]:
# Missing Values/Null Values Count for twitter data
twitter_df.isnull().sum()

In [ ]:
# Missing Values/Null Values Count for youtube data
yt_data_df.isnull().sum()

In [ ]:
# Missing Values/Null Values Count for youtube views data
yt_view_df.isnull().sum()

In [ ]:
# Checking Null Value by plotting Heatmap
sns.heatmap(twitter_df.isnull(), cbar=False);

In [ ]:
# Checking Null Value by plotting Heatmap
sns.heatmap(yt_data_df.isnull(), cbar=False);

In [ ]:
# Missing Value Count Function
def showMissing(df):
    missing = df.columns[df.isnull().any()].tolist()
    return missing

missingVal = pd.DataFrame()
missingVal['Missing Data Count'] = yt_data_df[showMissing(yt_data_df)].isnull().sum().sort_values(ascending = False)
missingVal['Missing Data Percentage'] = yt_data_df[showMissing(yt_data_df)].isnull().sum().sort_values(ascending = False)/len(yt_data_df)*100

missingVal

In [ ]:
missingVal2 = pd.DataFrame()
missingVal2['Missing Data Count'] = twitter_df[showMissing(twitter_df)].isnull().sum().sort_values(ascending = False)
missingVal2['Missing Data Percentage'] = twitter_df[showMissing(twitter_df)].isnull().sum().sort_values(ascending = False)/len(twitter_df)*100

missingVal2

Based on the above observation we can conclude that:

* All data are unique and show no duplication. 
* Total observation 422 and feature for Brand dataset: 4
* Total observation 629 and feature for Twitter dataset: 13 with 54% of missing value in feature location, other features which had missing values are name/id, verified, verified accounts, followers, status available.
* Total observation 1110 and feature for YouTube Data dataset: 10 and show more than 50% missing value in location feature and other feature which had missing values are is verified and subscriber.
* Total observation 20315 and feature for YouTube View dataset: 7

##Data Wrangling

In [ ]:
#merging twitter df with brand df to get brand name for each twitter url
tweet_df = brand_df.merge(twitter_df, on = 'URL', how = 'inner')
tweet_df.sample(5)

In [ ]:
#function to extract user id form url
def get_user_id(link):
  link_elements = link.split("/")
  return link_elements[1]

In [ ]:
tweet_df['User_Id'] = tweet_df['URL'].apply(get_user_id)
tweet_df.sample(5)

In [157]:
#shape for new df tweet df
tweet_df.shape

(629, 17)

In [158]:
yt_view_df.columns

Index(['Channel URL', 'Video URL', 'Views', 'Year', 'Quarter', 'Month', 'Day'], dtype='object')

In [159]:
#renaming columns in youtube view dataset for merging
yt_views_df = yt_view_df.rename(columns = {'Channel URL' : 'URL',
                                           'Year':'Video_Year',
                                           'Quarter':'Video_Quarter',
                                           'Month':'Video_Month',
                                           'Day':'Video_Day'})
yt_views_df.sample(5)

,URL,Video URL,Views,Video_Year,Video_Quarter,Video_Month,Video_Day
19962,youtube.com/channel/UCcKRmvr8B7mjGONzXqSdvgc4,youtube.com/watch?v=9xA301bac,9476,2021,Qtr 1,March,10
2101,youtube.com/channel/UCrE-1bjkm5DD20DiQcBZyri3,youtube.com/watch?v=deUEN7Xc4,753695,2021,Qtr 1,March,10
14803,youtube.com/channel/UC6Pyn5gVq7nncuxGqPEk6mU2,youtube.com/watch?v=KGLCQ5Kn0,1990,2021,Qtr 1,March,10
3255,youtube.com/channel/UCZx8QzfK-3OQfTR2u_1PeVj1,youtube.com/watch?v=gGtI51Pgk,598,2021,Qtr 1,March,10
382,youtube.com/channel/UC5jLZ_d-825K7GkINz1YsRG4,youtube.com/watch?v=D9tg-8BJc,1727,2021,Qtr 1,March,10

In [160]:
set(yt_data_df['URL'].unique().tolist()).difference(set(yt_views_df['URL'].unique().tolist()))

{'youtube.com/channel/UC2f6wfMgUdL20cSrh4L2XoA',
 'youtube.com/channel/UCBB9ERt12sMjacsvqvJiyRQ',
 'youtube.com/channel/UCBcwtYqse4Yb13bI4k4e4xw',
 'youtube.com/channel/UCKLyo3uAEM4aNTYkHoBGTOw',
 'youtube.com/channel/UCNgav6lMQF1zFco9_W_GkoQ',
 'youtube.com/channel/UCPf9LqzE9yjlIuYWxUww2KQ',
 'youtube.com/channel/UCcQgYUSp3PORuZIQBsXdk4A',
 'youtube.com/channel/UCl4P5q7rLTmH6bjFeQGrrMg',
 'youtube.com/channel/UCsq4MGhZrAS0oFgWxgLjdXg'}

In [161]:
#merging youtube data all together
yt_df = brand_df.merge(yt_data_df, on= 'URL', how ='inner').merge(
    yt_views_df, on = 'URL', how ='inner')
yt_df.sample(5)

,Brand,Market,Platform,URL,Channel Has Title,Has Description,Location,Year,Quarter,Month,Day,Is Verified,Subscriber,Video URL,Views,Video_Year,Video_Quarter,Video_Month,Video_Day
64832,germanrosy,Belgium,YouTube,youtube.com/channel/UCbw1qrsjH7NIuUGHa2omKbK7,Has Title,Has Description,NaN,2022,Qtr 2,May,21,False,558000.0,youtube.com/watch?v=gkKBu4ngc,5647,2021,Qtr 1,March,10
70640,ironsoft,Philippines,YouTube,youtube.com/channel/UC7wUvJd2P253b0PutrygfXy1,Has Title,Has Description,Mexico,2021,Qtr 4,December,30,False,38500.0,youtube.com/watch?v=cbTkF3b6w,201003,2021,Qtr 1,March,10
26999,dualjape,Saudi Arabia,YouTube,youtube.com/channel/UCRjONHd471hjN-4MJ9po2PA0,Has Title,Has Description,NaN,2022,Qtr 2,May,21,False,16200.0,youtube.com/watch?v=_URRE70U0,1046783,2021,Qtr 1,March,10
50975,dualjape,Paraguay,YouTube,youtube.com/channel/UChf2P5XDk7if6y0wBwI4ZpZ5,Has Title,Has Description,NaN,2021,Qtr 3,July,29,NaN,2000.0,youtube.com/watch?v=9goDq3kBM,3382,2021,Qtr 1,March,10
62931,germanrosy,Belgium,YouTube,youtube.com/channel/UCbw1qrsjH7NIuUGHa2omKbK7,Has Title,Has Description,NaN,2021,Qtr 4,December,30,False,560000.0,youtube.com/watch?v=5J-Q38X60,142,2021,Qtr 1,March,10

In [162]:
#final df for twitter dataset
tweet_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 629 entries, 0 to 628
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Brand                    629 non-null    object
 1   Market                   629 non-null    object
 2   Platform                 629 non-null    object
 3   URL                      629 non-null    object
 4   Verified                 607 non-null    object
 5   Verified Accounts        607 non-null    object
 6   Year                     629 non-null    int64
 7   Quarter                  629 non-null    object
 8   Month                    629 non-null    object
 9   Day                      629 non-null    int64
 10  Name / ID                485 non-null    object
 11  Location                 289 non-null    object
 12  Has Description          629 non-null    object
 13  Followers                607 non-null    float64
 14  Status Available         607 non-null    object
 15  Accounts Without a Link  629 non-null    object
 16  User_Id                  629 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 88.5+ KB

In [163]:
#final df for youtube dataset
yt_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81642 entries, 0 to 81641
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand              81642 non-null  object
 1   Market             81642 non-null  object
 2   Platform           81642 non-null  object
 3   URL                81642 non-null  object
 4   Channel Has Title  81642 non-null  object
 5   Has Description    81642 non-null  object
 6   Location           39703 non-null  object
 7   Year               81642 non-null  int64
 8   Quarter            81642 non-null  object
 9   Month              81642 non-null  object
 10  Day                81642 non-null  int64
 11  Is Verified        60375 non-null  object
 12  Subscriber         81356 non-null  float64
 13  Video URL          81642 non-null  object
 14  Views              81642 non-null  int64
 15  Video_Year         81642 non-null  int64
 16  Video_Quarter      81642 non-null  object
 17  Video_Month        81642 non-null  object
 18  Video_Day          81642 non-null  int64
dtypes: float64(1), int64(5), object(13)
memory usage: 12.5+ MB

In [164]:
#checking for duplicates as value increased after merging
duplicates = yt_df[yt_df.duplicated()]

print(len(duplicates))

0



---
Dealing with null values
* ignoring location columns as it has more than 50% of null values
* treating other null values using mode since it has categorial data and for numerical value will check for distribution before choosing mean, median or mode.

In [165]:
# Check Unique Values for each variable.
for i in tweet_df.columns.tolist():
  print(f"No. of unique values in {i} is {tweet_df[i].nunique()}.")

No. of unique values in Brand is 12.
No. of unique values in Market is 77.
No. of unique values in Platform is 1.
No. of unique values in URL is 160.
No. of unique values in Verified is 2.
No. of unique values in Verified Accounts is 2.
No. of unique values in Year is 2.
No. of unique values in Quarter is 3.
No. of unique values in Month is 4.
No. of unique values in Day is 2.
No. of unique values in Name / ID is 155.
No. of unique values in Location is 45.
No. of unique values in Has Description is 2.
No. of unique values in Followers is 497.
No. of unique values in Status Available is 2.
No. of unique values in Accounts Without a Link is 2.
No. of unique values in User_Id is 160.

In [166]:
# Check Unique Values for each variable.
for i in yt_df.columns.tolist():
  print(f"No. of unique values in {i} is {yt_df[i].nunique()}.")

No. of unique values in Brand is 12.
No. of unique values in Market is 85.
No. of unique values in Platform is 1.
No. of unique values in URL is 253.
No. of unique values in Channel Has Title is 2.
No. of unique values in Has Description is 2.
No. of unique values in Location is 98.
No. of unique values in Year is 2.
No. of unique values in Quarter is 4.
No. of unique values in Month is 5.
No. of unique values in Day is 5.
No. of unique values in Is Verified is 2.
No. of unique values in Subscriber is 652.
No. of unique values in Video URL is 20315.
No. of unique values in Views is 13167.
No. of unique values in Video_Year is 1.
No. of unique values in Video_Quarter is 1.
No. of unique values in Video_Month is 1.
No. of unique values in Video_Day is 1.

In [167]:
#dropping location other columns which might not be much useful for analysis because of not showing variation
twt_df = tweet_df.drop(columns =['Platform','URL','Verified'], axis = 1)
twt_df.sample(2)

,Brand,Market,Verified Accounts,Year,Quarter,Month,Day,Name / ID,Location,Has Description,Followers,Status Available,Accounts Without a Link,User_Id
408,ironsoft,United States of America,Verified Accounts,2022,Qtr 1,January,31,Rexona Deutschland,"Hamburg, Germany",Has Description,134.0,True,Has Link,_desia
530,dualjape,Japan,Verified Accounts,2022,Qtr 2,May,9,Shield South Africa,South Africa,Has Description,20319.0,True,Has Link,_ZAkid

In [168]:
yutb_df = yt_df.drop(columns =['Platform','Video_Year','Video_Quarter','Video_Month','Video_Day'], axis = 1)
yutb_df.sample(2)

,Brand,Market,URL,Channel Has Title,Has Description,Location,Year,Quarter,Month,Day,Is Verified,Subscriber,Video URL,Views
59803,dualjape,South Africa,youtube.com/channel/UCcKRmvr8B7mjGONzXqSdvgc4,Has Title,Has Description,NaN,2022,Qtr 1,January,28,False,787000.0,youtube.com/watch?v=o0Bz_2URA,13795348
31990,osvent,Zimbabwe,youtube.com/channel/UCPUPqz1oJ3px5O0mvBMvjDD8,Has Title,No Description,NaN,2021,Qtr 3,July,29,NaN,28000.0,youtube.com/watch?v=SGFKl7sWM,1419

Twitter Data null value treatment

---

In [169]:
twt_df[twt_df['Name / ID'].isnull()]

,Brand,Market,Verified Accounts,Year,Quarter,Month,Day,Name / ID,Location,Has Description,Followers,Status Available,Accounts Without a Link,User_Id
0,germanrosy,United States of America,Non Verified Accounts,2021,Qtr 1,March,9,NaN,Greece,Has Description,113.0,True,Has Link,_gr_SA
4,carslord,India,Non Verified Accounts,2021,Qtr 1,March,9,NaN,NaN,Has Description,10.0,True,Has Link,_idand
8,vandawn,Argentina,Verified Accounts,2021,Qtr 1,March,9,NaN,Amsterdam,Has Description,31393.0,True,Has Link,_nluay
12,aquapeak,Austria,Verified Accounts,2021,Qtr 1,March,9,NaN,Deutschland sterreich Schweiz,Has Description,1326.0,True,Has Link,elllub
16,dualjape,Azerbaijan,Verified Accounts,2021,Qtr 1,March,9,NaN,South Africa,Has Description,21731.0,True,Has Link,_SAina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555,handfoxy,Malta,Non Verified Accounts,2021,Qtr 1,March,9,NaN,"Karachi, Pakistan",Has Description,256.0,True,Has Link,kPKeuk
559,techfond,Mexico,Non Verified Accounts,2021,Qtr 1,March,9,NaN,NaN,Has Description,3.0,False,No Link,ksgAxe
563,dualjape,Morocco,Non Verified Accounts,2021,Qtr 1,March,9,NaN,,Has Description,419.0,True,Has Link,and_be
567,handfoxy,Netherlands,Verified Accounts,2021,Qtr 1,March,9,NaN,United Kingdom,Has Description,21573.0,True,Has Link,urevia
571,dualjape,New Zealand,NaN,2021,Qtr 1,March,9,NaN,NaN,Has Description,NaN,NaN,No Link,eukile

In [170]:
#function to replace null value with mode based on unique identity
def replace_null(df, checking_col , unique_col ):
  '''
  function to replace null value with mode based on unique identity
  '''
  for val in df[unique_col].unique().tolist():
      rdf = df[df[unique_col] == val]
      mode = rdf[checking_col].mode()
      if mode.empty:
        continue
      mode = mode[0]
      df.loc[df[unique_col] == val, checking_col] = df.loc[df[unique_col] == val, checking_col].fillna(mode)

In [171]:
#replacing nan for name / id where user id is same
for col in ['Name / ID', 'Verified Accounts', 'Followers', 'Status Available']:
  replace_null(twt_df, col , 'User_Id')

In [172]:
#getting only null value data
twt_df.isnull().sum()[twt_df.isnull().any()]

Verified Accounts      8
Location             340
Followers              8
Status Available       8
dtype: int64

In [173]:
#checking for remaining null values
twt_df[twt_df['Verified Accounts'].isnull()]

,Brand,Market,Verified Accounts,Year,Quarter,Month,Day,Name / ID,Location,Has Description,Followers,Status Available,Accounts Without a Link,User_Id
230,bassvest,Thailand,NaN,2021,Qtr 1,March,9,"[{'code': 63, 'message': 'User has been suspen...",NaN,Has Description,NaN,NaN,No Link,inaece
231,bassvest,Thailand,NaN,2021,Qtr 4,December,31,"[{'code': 63, 'message': 'User has been suspen...",NaN,No Description,NaN,NaN,No Link,inaece
232,bassvest,Thailand,NaN,2022,Qtr 1,January,31,"[{'code': 63, 'message': 'User has been suspen...",NaN,No Description,NaN,NaN,No Link,inaece
233,bassvest,Thailand,NaN,2022,Qtr 2,May,9,"[{'code': 63, 'message': 'User has been suspen...",NaN,No Description,NaN,NaN,No Link,inaece
571,dualjape,New Zealand,NaN,2021,Qtr 1,March,9,"[{'code': 63, 'message': 'User has been suspen...",NaN,Has Description,NaN,NaN,No Link,eukile
572,dualjape,New Zealand,NaN,2021,Qtr 4,December,31,"[{'code': 63, 'message': 'User has been suspen...",NaN,No Description,NaN,NaN,No Link,eukile
573,dualjape,New Zealand,NaN,2022,Qtr 1,January,31,"[{'code': 63, 'message': 'User has been suspen...",NaN,No Description,NaN,NaN,No Link,eukile
574,dualjape,New Zealand,NaN,2022,Qtr 2,May,9,"[{'code': 63, 'message': 'User has been suspen...",NaN,No Description,NaN,NaN,No Link,eukile

In [174]:
#since these data are for suspended account hence replacing values verified as no, followers as 0 and status as false
twt_df['Verified Accounts'].fillna('Non Verified Accounts', inplace = True)
twt_df['Followers'].fillna(0, inplace =True)
twt_df['Status Available'].fillna('False', inplace = True)

In [175]:
twt_df.isnull().sum()[twt_df.isnull().any()]

Location    340
dtype: int64

YouTube Data Null value treatment 

---

In [176]:
yutb_df.isnull().sum()[yutb_df.isnull().any()]

Location       41939
Is Verified    21267
Subscriber       286
dtype: int64

In [177]:
#replacing null value with mode based on unique column URL
replace_null(yutb_df, 'Is Verified', 'URL')
replace_null(yutb_df, 'Subscriber', 'URL')

In [178]:
yutb_df.isnull().sum()[yutb_df.isnull().any()]

Location    41939
dtype: int64



---

In [179]:
twt_df.sample(5)

,Brand,Market,Verified Accounts,Year,Quarter,Month,Day,Name / ID,Location,Has Description,Followers,Status Available,Accounts Without a Link,User_Id
594,vandawn,Philippines,Verified Accounts,2022,Qtr 2,May,9,AXE Spain,Espaa,Has Description,12297.0,True,Has Link,ain_ES
455,dualjape,China,Non Verified Accounts,2021,Qtr 1,March,9,Rexona,NaN,Has Description,3107.0,True,Has Link,MDAaMx
491,aquapeak,Global,Verified Accounts,2021,Qtr 1,March,9,Rexona Trkiye,NaN,Has Description,7487.0,True,Has Link,iyeina
217,dualjape,United Kingdom of Great Britain and Northern I...,Verified Accounts,2022,Qtr 2,May,9,Dove TH,Thailand,Has Description,212.0,True,Has Link,_thina
552,dualjape,Malaysia,Verified Accounts,2021,Qtr 4,December,31,Sunsilk PH,"Manila, Philippines",Has Description,16840.0,True,Has Link,kPHure

In [180]:
#total number of verified accounts
twt_df['Verified Accounts'].value_counts()

Non Verified Accounts    397
Verified Accounts        232
Name: Verified Accounts, dtype: int64

In [189]:
#total number of verified accounts
twt_df['Locations'] = twt_df['Location'].fillna('No')
twt_df['Locations'] = twt_df['Locations'].apply(lambda x: 'No' if x == 'No' else 'Yes')
twt_df['Locations'].value_counts()

No     340
Yes    289
Name: Locations, dtype: int64

In [219]:
#finding values for verified accounts
tva = twt_df[twt_df['Verified Accounts'] == 'Verified Accounts'][['Quarter','Year',
  'Status Available','Month','Day','Has Description','Locations']].value_counts().reset_index().rename(columns={0:'Count'})
tva

,Quarter,Year,Status Available,Month,Day,Has Description,Locations,Count
0,Qtr 1,2022,True,January,31,Has Description,Yes,36
1,Qtr 2,2022,True,May,9,Has Description,Yes,36
2,Qtr 4,2021,True,December,31,Has Description,Yes,36
3,Qtr 1,2021,True,March,9,Has Description,Yes,34
4,Qtr 1,2021,True,March,9,Has Description,No,23
5,Qtr 4,2021,True,December,31,Has Description,No,20
6,Qtr 2,2022,True,May,9,Has Description,No,19
7,Qtr 1,2022,True,January,31,Has Description,No,18
8,Qtr 1,2022,True,January,31,No Description,No,4
9,Qtr 2,2022,True,May,9,No Description,No,3
10,Qtr 4,2021,True,December,31,No Description,No,3

In [200]:
#finding values for non verified accounts
tnva = twt_df[twt_df['Verified Accounts'] == 'Non Verified Accounts'][['Quarter','Year',
  'Status Available','Month','Day','Has Description','Locations']].value_counts().reset_index().rename(columns={0:'Count'})
tnva

,Quarter,Year,Status Available,Month,Day,Has Description,Locations,Count
0,Qtr 1,2021,True,March,9,Has Description,No,44
1,Qtr 2,2022,True,May,9,Has Description,No,42
2,Qtr 4,2021,True,December,31,Has Description,No,38
3,Qtr 1,2022,True,January,31,Has Description,No,37
4,Qtr 1,2021,True,March,9,Has Description,Yes,35
5,Qtr 2,2022,True,May,9,Has Description,Yes,33
6,Qtr 4,2021,True,December,31,Has Description,Yes,32
7,Qtr 1,2022,True,January,31,Has Description,Yes,29
8,Qtr 1,2022,True,January,31,No Description,No,17
9,Qtr 4,2021,True,December,31,No Description,No,12
10,Qtr 2,2022,True,May,9,No Description,No,10
11,Qtr 1,2021,False,March,9,Has Description,No,9
12,Qtr 4,2021,False,December,31,No Description,No,8
13,Qtr 2,2022,False,May,9,No Description,No,8
14,Qtr 1,2022,False,January,31,No Description,No,8
15,Qtr 2,2022,True,May,9,No Description,Yes,6
16,Qtr 4,2021,True,December,31,No Description,Yes,6
17,Qtr 1,2022,True,January,31,No Description,Yes,5
18,Qtr 2,2022,False,May,9,Has Description,No,3
19,Qtr 4,2021,False,December,31,Has Description,No,3
20,Qtr 1,2022,False,January,31,Has Description,No,3
21,Qtr 1,2022,False,January,31,No Description,No,2
22,Qtr 2,2022,False,May,9,No Description,No,2
23,Qtr 1,2021,False,March,9,Has Description,No,2
24,Qtr 4,2021,False,December,31,No Description,No,2
25,Qtr 1,2021,True,March,9,No Description,Yes,1

In [193]:
#grouping brand and market to understand theirinteraction
tbrand = twt_df.groupby(['Brand','Market']).agg({'User_Id':'count', 'Followers':'max'}).reset_index()

In [194]:
#finding brand with maximum number of user
tbrand.sort_values('User_Id', ascending = False)[:5]

         Brand                    Market  User_Id  Followers
99    handfoxy  United States of America       12    20976.0
12    aquapeak                     Japan        8     1301.0
73  germanrosy                     Chile        8     2837.0
90    handfoxy                     India        8      118.0
94    handfoxy               Netherlands        8    24531.0

In [224]:
#finding brand with maximum number of followers
tbrand.sort_values('Followers', ascending = False)[:5]

          Brand              Market  User_Id  Followers
65     dualjape  Russian Federation        6   188739.0
17     aquapeak              Norway        4   150964.0
72   germanrosy              Brazil        4    59373.0
16     aquapeak           Nicaragua        4    55487.0
110    ironsoft            Slovakia        4    48437.0

In [196]:
yutb_df.sample(5)

,Brand,Market,URL,Channel Has Title,Has Description,Location,Year,Quarter,Month,Day,Is Verified,Subscriber,Video URL,Views
45855,germanrosy,Georgia,youtube.com/channel/UCkx7dojCN9Qp3kZESIDfbhv4,Has Title,Has Description,NaN,2021,Qtr 3,July,29,False,3960.0,youtube.com/watch?v=TZ9eZ5KUg,698
55417,dualjape,Global,youtube.com/channel/UCesBrogCn3ANbibGqTRtBZL5,Has Title,Has Description,Australia,2022,Qtr 2,May,21,False,3090.0,youtube.com/watch?v=LD29W2rFQ,1206012
146,aquapeak,Uruguay,youtube.com/channel/UCzZLWFeDp4twinDEP_-PMXM4,Has Title,Has Description,Canada,2022,Qtr 2,May,21,False,2190.0,youtube.com/watch?v=-f68a4F-c,377184
52627,germanrosy,Romania,youtube.com/channel/UCGlRdJk2E1z2DnEUInBlYZl7,Has Title,No Description,Indonesia,2021,Qtr 4,December,30,False,31200.0,youtube.com/watch?v=C-Gpq715Y,4117
12286,weiwind,Spain,youtube.com/channel/UCV8uggzLT9drrLrGk13pbc45,Has Title,Has Description,NaN,2021,Qtr 3,July,29,False,15200.0,youtube.com/watch?v=hjnS03u08,5747

In [197]:
yutb_df['Is Verified'].value_counts()

False    80514
True      1128
Name: Is Verified, dtype: int64

In [201]:
#total number of verified accounts
yutb_df['Locations'] = yutb_df['Location'].fillna('No')
yutb_df['Locations'] = yutb_df['Locations'].apply(lambda x: 'No' if x == 'No' else 'Yes')
yutb_df['Locations'].value_counts()

No     41939
Yes    39703
Name: Locations, dtype: int64

In [202]:
#finding values for verified accounts for youtube data
yva = yutb_df[yutb_df['Is Verified'] == True][['Quarter','Year',
  'Channel Has Title','Month','Day','Has Description','Locations']].value_counts().reset_index().rename(columns={0:'Count'})
yva

,Quarter,Year,Channel Has Title,Month,Day,Has Description,Locations,Count
0,Qtr 1,2022,Has Title,January,28,Has Description,Yes,282
1,Qtr 2,2022,Has Title,May,21,Has Description,Yes,282
2,Qtr 4,2021,Has Title,December,30,Has Description,Yes,282
3,Qtr 3,2021,Has Title,July,29,Has Description,Yes,251
4,Qtr 3,2021,Has Title,July,29,No Description,Yes,31

In [203]:
#finding values for non verified accounts for youtube data
ynva = yutb_df[yutb_df['Is Verified'] == False][['Quarter','Year',
  'Channel Has Title','Month','Day','Has Description','Locations']].value_counts().reset_index().rename(columns={0:'Count'})
ynva

,Quarter,Year,Channel Has Title,Month,Day,Has Description,Locations,Count
0,Qtr 3,2021,Has Title,July,29,Has Description,No,8402
1,Qtr 2,2022,Has Title,May,21,Has Description,No,8340
2,Qtr 1,2022,Has Title,January,28,Has Description,No,8308
3,Qtr 4,2021,Has Title,December,30,Has Description,No,8308
4,Qtr 2,2022,Has Title,May,21,Has Description,Yes,7771
5,Qtr 4,2021,Has Title,December,30,Has Description,Yes,7524
6,Qtr 1,2022,Has Title,January,28,Has Description,Yes,7524
7,Qtr 3,2021,Has Title,July,29,Has Description,Yes,7419
8,Qtr 4,2021,Has Title,December,30,No Description,No,2007
9,Qtr 1,2022,Has Title,January,28,No Description,No,2007
10,Qtr 2,2022,Has Title,May,21,No Description,No,2007
11,Qtr 3,2021,Has Title,July,29,No Description,No,1953
12,Qtr 4,2021,Has Title,December,30,No Description,Yes,1911
13,Qtr 2,2022,Has Title,May,21,No Description,Yes,1911
14,Qtr 1,2022,Has Title,January,28,No Description,Yes,1911
15,Qtr 3,2021,Has Title,July,29,No Description,Yes,1907
16,Qtr 1,2021,Has Title,March,10,Has Description,Yes,420
17,Qtr 1,2021,Has Title,March,10,No Description,No,354
18,Qtr 1,2021,Has Title,March,10,No Description,Yes,277
19,Qtr 1,2021,Has Title,March,10,Has Description,No,249
20,Qtr 2,2022,Has No Title,May,21,No Description,No,4

In [213]:
#unique market and brand that have less than 100 views
yutb_df[yutb_df['Views'] < 100][['Brand','Market']].nunique()

Brand     12
Market    56
dtype: int64

In [217]:
#brand with less than 100 views
yutb_df[yutb_df['Views'] < 100]['Brand'].unique().tolist()

['carslord',
 'dualjape',
 'handfoxy',
 'aquapeak',
 'weiwind',
 'techfond',
 'songseem',
 'ironsoft',
 'bassvest',
 'osvent',
 'vandawn',
 'germanrosy']

In [259]:
#unique market for less than 100 views
yutb_df[yutb_df['Views'] < 100]['Market'].unique()

array(['Vietnam', 'Austria', 'Bolivia, Plurinational State of', 'Canada',
       'Czechia', 'Germany', 'Global', 'Israel', 'Mexico', 'New Zealand',
       'Paraguay', 'Philippines', 'Poland', 'Portugal', 'Romania',
       'Russian Federation', 'Singapore', 'Slovakia', 'Turkey',
       'United Kingdom of Great Britain and Northern Island',
       'United States of America', 'Uruguay', 'Indonesia', 'Pakistan',
       'United Arab Emirates', 'Belgium', 'Brazil', 'Ethiopia', 'Greece',
       'Hungary', 'India', 'Zambia', 'Italy', 'Finland', 'Nigeria',
       'Argentina', 'Bulgaria', 'Chile', 'Croatia', 'Dominican Republic',
       'El Salvador', 'Fiji', 'France', 'Georgia', 'Ghana', 'Sri Lanka',
       'Sweden', 'Spain', 'Peru', 'South Africa', 'Morocco', 'Australia',
       'Malaysia', 'Netherlands', 'Azerbaijan', 'Costa Rica'],
      dtype=object)

In [220]:
#grouping brand and market to understand their interaction
ybrand = yutb_df.groupby(['Brand','Market']).agg({'URL':'count', 'Subscriber':'max'}).reset_index()

In [221]:
#finding brand with maximum number of user
ybrand.sort_values('URL', ascending = False)[:5]

          Brand        Market   URL  Subscriber
43     carslord       Vietnam  4320    211000.0
79   germanrosy       Belgium  3292    563000.0
67     dualjape  South Africa  3204    796000.0
120    handfoxy         India  2573       158.0
158    songseem         Chile  2340     69200.0

In [225]:
#finding brand with maximum number of Subscriber
ybrand.sort_values('Subscriber', ascending = False)[:5]

          Brand        Market   URL  Subscriber
67     dualjape  South Africa  3204    796000.0
79   germanrosy       Belgium  3292    563000.0
182    techfond      Portugal  1072    259000.0
69     dualjape     Sri Lanka  1066    224000.0
43     carslord       Vietnam  4320    211000.0

In [226]:
#grouping brand and market to understand their interaction
ybrandLessViews = yutb_df[yutb_df['Views'] < 100].groupby(
    ['Brand','Market']).agg({'URL':'count', 'Subscriber':'max'}).reset_index()

In [227]:
#finding brand with maximum number of user
ybrandLessViews.sort_values('URL', ascending = False)[:5]

         Brand       Market   URL  Subscriber
18    carslord      Vietnam  3384    211000.0
49    handfoxy        India  2345       158.0
38  germanrosy     Slovakia   210       491.0
35  germanrosy      Belgium   132    563000.0
11    aquapeak  Philippines   129     26200.0

##EDA

##Conclusions